body {
   justify-content: space-evenly;
   background-color: lightgrey;
} 
header{
    background-color:lightblue; 
    color: rgb(74, 241, 68);
    width: 100%;
    height: 14rem;
    text-align: center;
    padding: 5rem;
    background: url(../img/benjamin.jpg);
    background-size: cover;
}

#calculator, #intro, #steps, #links{
    margin-left: 1rem;
    margin-right: 1rem;
}

.introBudget{
    text: bold;
}

nav{
    display: flex;
    justify-content: space-evenly;
}
#hamburger{
    display: none;
}
@media(max-width:450px) {
    a{
        text-decoration: underline;
        display:none;
    }
    
    nav{
        flex-flow: column nowrap;
        align-items: center;
}
    #hamburger{
        display:flex;
    }
}
