body {
   justify-content: space-evenly;
   background-color: lightgrey;
} 
header{
    background-color: lightblue;
    width: 100%;
    text-align: center;
}

form{
    width: 100%;
}


nav{
    display: flex;
    justify-content: space-evenly;
}
#hamburger{
    display: none;
}
@media(max-width:450px) {
    a{
        text-decoration: underline;
        display:none;
    }
    
    nav{
        flex-flow: column nowrap;
        align-items: center;
}
    #hamburger{
        display:flex;
    }
}
