@media only screen and (max-width: 992px){
    #intro, #calculator{
        line-height: 2.5rem;
        font-size: .02rem ;
        font-weight: 600;
    }
    #steps{
        font-weight: 700;
    }
    #links{
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 768px){
   a{
       font-size: 2rem;
   }
   header{
       font-size: 2rem;
   }
}
@media only screen and (max-width: 576px){
    
}
#reset{
    margin-right: 10rem;
}

body {
    justify-content: space-evenly;
    background-color: lightgrey;
   
} 
header{
    background-color:lightblue; 
    width: 100%;
    height: 13.2rem;
    text-align: center;
    padding: 2.8rem;
    background: url(../img/benjamin.jpg);
    background-size: cover;
}
h1{
    font-size: 2.4rem;
    color:lightskyblue;
    align-items: center;
}

#calculator, #intro, #steps, #links{
    margin-left: 1rem;
    margin-right: 1rem;
    border: groove;
    border-color:lightskyblue;
    border-style: ridge;
    border-width: 1.2rem;
    border-radius: 1%;
    
}

#intro, #calculator{
    line-height: 2.5rem;
    font-size: 1.3rem ;
    
}

#intro, #steps {
    margin-bottom: 1.4rem;
    font-weight: 500;
}

.link, .calc, .simple, .budget {
    font-size: 2em;
    font-weight: bold;
}

.nav-bar{
      padding: .7rem;
      overflow: hidden;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em;
}



